@model DocumentManagementSystem.Models.DocumentFile

@{
    ViewData["Title"] = "AddDocumentFile";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<br />
<br />
<form class="form-group" method="post">
    <p>
        <b>Document File Name:</b> <br />
        @Html.TextBoxFor(x => x.document_file_name, new { })
    </p>
    <br />
    <p>
        <button class="btn btn-dark" id="save">Save</button>
    </p>
</form>
<script>
    $('#save').click(function () {
        alert("Document File was added.");
    });</script>