@using DocumentManagementSystem.Models
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<br />
<div class="alert alert-success" role="alert">@TempData["Alert"]</div>
<br />
<table class="table table-dark">
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Surname</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>

    </tr>
    @foreach (var u in Model)

    {
        <tr>
            <th>@u.user_id</th>
            <th>@u.user_name</th>
            <th>@u.user_surname</th>
            <th><a href="/User/DeleteUser/@u.user_id" class="btn btn-danger">Delete</a></th>
            <th><a href="/User/GetUser/@u.user_id" class="btn btn-success">Update</a></th>
            <th><a href="/User/UserDetail/@u.user_id" class="btn btn-info">Details</a></th>

        </tr>
    }

</table>

<a href="/User/AddUser/" class="btn btn-primary">Add User</a>

